Repository HPlus1100/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Developers, @kimseungbin, @junman95, @Ooyd, @kthss01

feat:winston-cloudwatch config 설정 및 logger add
  src/logger/logger.service.ts
Owners: none

fix : env validation 이슈 해결 및 , isDevelopment 이슈 해결
  src/app.module.ts
  src/config/database.config.ts
  src/logger/logger.service.ts
Owners: @Ooyd

feat: local-api 테스트 코드 작성
  src/externalApi/local-api.repository.spec.ts
Owners: none

feat: local, path api 레포지토리 생성
  src/externalApi/local-api.repository.ts
  src/externalApi/path-api.repository.ts
Owners: none

fix: 민감 정보 로그 제거
  src/externalApi/local-api.repository.ts
Owners: none

ci: 테스트용 env 설정 추가
  .github/workflows/continuous-integration.yaml
Owners: @Developers

feat: local, path api 레포지토리 생성
  src/externalApi/local-api.repository.ts
  src/externalApi/path-api.repository.ts
Owners: none

feat: local-api 테스트 코드 작성
  src/externalApi/local-api.repository.spec.ts
Owners: none

fix: entity명칭 변경 PathApi -> Path, 용어 및 함수명 수정 Axis -> Coordinate
  src/externalApi/local-api.repository.spec.ts
  src/externalApi/local-api.repository.ts
  src/externalApi/path-api.entity.ts
  src/externalApi/path-api.repository.ts
Owners: none

feat: createCall path api 반영
  src/call/call.module.ts
  src/call/call.service.ts
  src/call/dto/request/createCall.dto.ts
  src/call/dto/response/activeCall/dataDto/locationInfo.dto.ts
Owners: @junman95

chore: jest config 추가를 통한 상대경로 처리
  jest.config.js
  package.json
Owners: @Developers

feat: createCall 성공 케이스 테스트 코드 수정
  src/call/call.service.spec.ts
Owners: @junman95

ci: 테스트용 env 설정 추가
  .github/workflows/continuous-integration.yaml
Owners: @Developers

feat: path api 엔티티 생성 및 return entity에 맞게 구현
  src/externalApi/path-api.entity.ts
  src/externalApi/path-api.repository.ts
Owners: none

fix: provide이슈, @/ src인식못하는 이슈 해결
  jest.config.js
  package.json
  src/call/call.controller.spec.ts
Owners: @Developers, @junman95

fix: 민감 정보 로그 제거
  src/externalApi/local-api.repository.ts
Owners: none

fix: test 용 컨트롤러 복구
  src/payments/payments.controller.ts
Owners: @kimseungbin

fix: ci env issue
  .github/workflows/continuous-integration.yaml
Owners: @Developers

docs: study winston
  docs/studies/logging/winston.md
Owners: none

docs: logging study
  docs/studies/logging/logging.md
Owners: none

docs: study cloud watch
  docs/studies/logging/cloudWatch.md
Owners: none

Update logging.md
  docs/studies/logging/logging.md
Owners: none

fix: call validation
  src/call/pipes/callValidation.pipe.ts
Owners: @junman95

fix: 빌드버전 실행토록 변경
  Dockerfile
Owners: @Developers

fix: validation 간소화
  src/config/database.config.ts
Owners: @Ooyd

cd: add kakao rest api key to ecs env
  .github/workflows/pipeline-deploy-alpha.yml
Owners: @Developers

feat: add payment-response type
  src/billing/domain/type/payment-response.type.ts
Owners: @Ooyd

feat : Add payment response type
  src/billing/domain/type/payment-response.type.ts
Owners: @Ooyd

fix: await 1.3 second for process logic
  src/billing/billing.controller.ts
Owners: @Ooyd

feat: call 도메인 circuit breaker 적용(path api 실패 환경 가정)
  src/call/call.controller.ts
  src/call/call.module.ts
  src/call/circuit-breaker/circuit-breaker.interceptor.ts
  src/call/circuit-breaker/circuit-breaker.ts
  src/logger/logger.service.ts
Owners: @junman95

fix: controller test code logger 추가
  src/call/call.controller.spec.ts
Owners: @junman95

fix: 기존 middleware 방식 로거 제거, interceptor 로거 클라우드 워치에 정상 로깅 안되는 이슈 해결
  package.json
  src/logger/logger.service.ts
  src/logger/logging.interceptor.ts
  src/logger/logging.middleware.ts
  src/logger/trace/trace-id.middleware.ts
Owners: @Developers

.github/CODEOWNERS:

# Common directories
/*  @Developers
/.github/ @Developers
/.husky/ @Developers
/test/ @Developers

# Domain-specific directories
payments/ @kimseungbin
call/ @junman95
billing/ @Ooyd
health-check/ @Ooyd
config/ @Ooyd
auth/ @Ooyd
account/ @kthss01
taxi/ @kthss01
