Repository HPlus1100/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Developers, @kimseungbin, @junman95, @Ooyd, @kthss01

.github/CODEOWNERS:

# Common directories
/*  @Developers
/.github/ @Developers
/.husky/ @Developers
/test/ @Developers

# Domain-specific directories
payments/ @kimseungbin
call/ @junman95
billing/ @Ooyd
health-check/ @Ooyd
config/ @Ooyd
auth/ @Ooyd
account/ @kthss01
taxi/ @kthss01

chore: taxis absolute path
  package.json
  src/taxis/taxis.service.spec.ts
Owners: @Developers

chore: 도메인별 경로 billing 별칭 추가
  package.json
Owners: @Developers

chore: date-fns 추가
  package.json
Owners: @Developers

fix: pg-mem time type 변경
  src/billing/domain/entity/daily-earning.entity.ts
Owners: @Ooyd

feat: Add TaxisStatus Entity, Merge Driver Entity
  src/taxis/dto/create-taxi.dto.ts
  src/taxis/dto/response-taxi.dto.ts
  src/taxis/entities/taxi-status.entity.ts
  src/taxis/entities/taxi.entity.ts
  src/taxis/taxis.service.spec.ts
  src/taxis/types/taxi.enum.ts
Owners: none

fix: tsconfig taxis path
  tsconfig.json
Owners: @Developers

refactor: taxis api
  src/taxis/entities/taxi.entity.ts
  src/taxis/taxi.repository.spec.ts
  src/taxis/taxis.controller.ts
  src/taxis/taxis.service.spec.ts
  src/taxis/taxis.service.ts
Owners: none

chore: add mapped-types
  package.json
Owners: @Developers

fix: taxi status 임시 처리
  src/taxis/dto/create-taxi.dto.ts
  src/taxis/dto/response-taxi.dto.ts
  src/taxis/entities/taxi.entity.ts
  src/taxis/taxis.service.spec.ts
Owners: none

refactor: Taxis imageUrl column delete, TaxiStatus change
  src/taxis/dto/create-taxi.dto.ts
  src/taxis/dto/response-taxi.dto.ts
  src/taxis/entities/taxi-status.entity.ts
  src/taxis/entities/taxi.entity.ts
  src/taxis/taxi.repository.spec.ts
  src/taxis/taxis.service.spec.ts
  src/taxis/types/taxi.enum.ts
Owners: none

chore: add mapped-types dependency
  package.json
Owners: @Developers

feat: payments related resource boilerplate
  src/app.module.ts
  src/payments/dto/create-payment.dto.ts
  src/payments/dto/update-payment.dto.ts
  src/payments/entities/payment.entity.ts
  src/payments/payments.controller.spec.ts
  src/payments/payments.controller.ts
  src/payments/payments.module.ts
  src/payments/payments.service.spec.ts
  src/payments/payments.service.ts
Owners: @kimseungbin

test: add todos for payments controller
  src/payments/payments.controller.spec.ts
Owners: @kimseungbin

test: add success case for findAll payments controller method
  src/payments/payments.controller.spec.ts
Owners: @kimseungbin

refactor: use abs path to payments in test code
  package.json
  src/payments/payments.controller.spec.ts
  tsconfig.json
Owners: @Developers, @kimseungbin

refactor: findAll payments service method to use async/await
  src/payments/payments.service.spec.ts
  src/payments/payments.service.ts
Owners: @kimseungbin

test: add dependency of payment service
  src/payments/payments.controller.spec.ts
Owners: @kimseungbin

feat: set Payments entity synchronized table name as payments
  src/payments/entities/payment.entity.ts
Owners: @kimseungbin

test: add test suites for payment service
  src/payments/payments.service.spec.ts
Owners: @kimseungbin

test: update wanted value of findAll payments
  src/payments/payments.service.spec.ts
Owners: @kimseungbin

test: add paymentRepository of MockRepository type
  src/payments/payments.service.spec.ts
Owners: @kimseungbin

refactor: implement MockRepositoryFactory to abstract mock payment repository
  src/payments/payments.service.spec.ts
Owners: @kimseungbin

test: add success case for findAll payments
  src/payments/payments.service.spec.ts
Owners: @kimseungbin

feat: implement min to run findAll payments test
  src/payments/payments.service.ts
Owners: @kimseungbin

feat: payment repository
  src/payments/payment.repository.ts
Owners: @kimseungbin

feat: implement findAll payments service
  src/payments/payments.service.ts
Owners: @kimseungbin

test: add createMockRepository func for payments
  src/payments/payments.service.spec.ts
Owners: @kimseungbin

feat: implement payment repository
  src/payments/payments.module.ts
  src/payments/payments.service.ts
Owners: @kimseungbin

feat: PrimaryGeneratedColumn in payment entity
  src/payments/entities/payment.entity.ts
Owners: @kimseungbin

chore: add @hapi/joi and its types
  package.json
  yarn.lock
Owners: @Developers

feat: database configuration
  src/config/database.config.ts
Owners: @Ooyd

feat: implement new database config in typeorm config
  src/app.module.ts
  src/config/typeorm.config.ts
Owners: @Ooyd

feat: appConfig
  src/app.module.ts
  src/config/app.config.ts
  src/config/typeorm.config.ts
Owners: @Ooyd

remove: deprecated configService
  src/config/typeorm.config.ts
Owners: @Ooyd

chore: replace builder webpack -> swc
  .swcrc
  nest-cli.json
Owners: @Developers

chore: install winston, winston-cloudwatch, and nest-winston
  package.json
  yarn.lock
Owners: @Developers

feat: implement Winston logger including nest bootstrapping
  src/main.ts
Owners: none

feat: add consoleTransportOptions for development env
  src/main.ts
Owners: none

feat: LoggingInterceptor
  src/interceptors/logging/logging.interceptor.ts
Owners: none

refactor: replace imports in app module to use abs path alias
  src/app.module.ts
Owners: none
