Repository HPlus1100/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Developers, @kimseungbin, @junman95, @Ooyd, @kthss01

feat: apply global interceptor logging
  src/app.module.ts
Owners: none

style: alphabetically reorder items of array in app module
  src/app.module.ts
Owners: none

chore: add format:check npm script
  package.json
Owners: @Developers

infra(CI): add format check job in GitHub workflow
  .github/workflows/continuous-integration.yaml
Owners: @Developers

style: reformat payments
  src/payments/payments.controller.spec.ts
  src/payments/payments.service.spec.ts
  src/payments/payments.service.ts
Owners: @kimseungbin

refactor: rename pipeline-ci.yml to continuous-integration.yaml
  .github/workflows/continuous-integration.yaml
Owners: @Developers

feat: logger middleware
  src/middleware/logger/logger.middleware.ts
Owners: none

feat: logger middleware boilerplate
  src/middleware/logger/logger.middleware.spec.ts
  src/middleware/logger/logger.middleware.ts
Owners: none

test: add basic test for logger middleware
  src/middleware/logger/logger.middleware.spec.ts
Owners: none

feat: apply logger middleware in app module
  src/app.module.ts
Owners: none

refactor: move code to logger.config.ts
  src/main.ts
Owners: none

feat: middleware req 생성
  src/middleware/logger/logger.middleware.ts
Owners: none

feat: logger conf 설정
  src/config/logger.config.ts
Owners: @Ooyd

chore: update express to ^4.18.2
  package.json
Owners: @Developers

fix: logger conf 분리 및 환경별 설정
  src/config/logger.config.ts
Owners: @Ooyd

chore: logger middle ware 모든경로 및 모든메서드 적용
  src/app.module.ts
Owners: none

refactor: replace imports in app module to use abs path alias
  src/app.module.ts
Owners: none

remove: ci pipeline error로 인한 우선 제거
  src/middleware/logger/logger.middleware.spec.ts
Owners: none

feat: replace push trigger to pr trigger in Pipeline CI
  .github/workflows/pipeline-ci.yml
Owners: @Developers

refactor: rename test job to test
  .github/workflows/pipeline-ci.yml
Owners: @Developers

chore: "@types/uuid": "^9.0.6"추가(TraceID를 위한 객체생성)
  package.json
Owners: @Developers

feat: 환경에 따라 다르게 형식화된 로그를 처리할 수 있는 Logger 서비스 추가
  src/logger/logger.service.ts
Owners: none

feat: 각 요청에 TraceID를 할당하는 미들웨어 구현
  src/logger/trace/trace-id.middleware.ts
Owners: none

feat: 전역 미들웨어 설정 및 Logger 서비스를 사용하여 앱 구성
  src/logger/logging.middleware.ts
Owners: none

remove: logging service사용으로 제거
  src/interceptors/logging/logging.interceptor.ts
Owners: none

fix: 잘못된 매개변수 place holder 변경
  src/billing/repository/payment.repository.ts
Owners: @Ooyd

refactor: replace winston with custom LoggerService
  src/main.ts
Owners: none

feat: implement TraceId and Logging middleware for global logging
  src/app.module.ts
Owners: none

chore: "@types/uuid": "^9.0.6"추가
  yarn.lock
Owners: @Developers

remove: remove incorrect interceptor method
  src/logger/logger.service.ts
  src/logger/logging.middleware.ts
  src/logger/trace/trace-id.middleware.ts
Owners: none

feat: add TraceIDInterceptor to attach or generate x-trace-id
  src/logger/trace/trace-id.interceptor.ts
Owners: none

fix: implement LoggingInterceptor for detailed request/response logs
  src/logger/logging.interceptor.ts
Owners: none

refactor: use global interceptors for tracing and logging
  src/main.ts
Owners: none

refactor: Removal of unnecessary code due to application of interceptor method
  src/app.module.ts
Owners: none

fix: call entity type issue, husky eslint issue
  src/call/call.entity.ts
  src/config/app.config.ts
  src/config/database.config.ts
  src/config/typeorm.config.ts
  src/payments/payments.controller.spec.ts
  src/payments/payments.service.spec.ts
  src/payments/payments.service.ts
Owners: @junman95, @Ooyd, @kimseungbin

fix: call entity type issue, husky eslint issue
  src/call/call.entity.ts
  src/config/app.config.ts
  src/config/database.config.ts
  src/config/typeorm.config.ts
  src/payments/payments.controller.spec.ts
  src/payments/payments.service.spec.ts
  src/payments/payments.service.ts
Owners: @junman95, @Ooyd, @kimseungbin

fix: lint issue 처리
  src/app.module.ts
  src/billing/billing.controller.ts
  src/billing/billing.service.spec.ts
  src/billing/billing.service.ts
  src/call/pipes/callValidation.pipe.ts
  src/call/pipes/terminateCallValidation.pipe.ts
  src/logger/logging.middleware.ts
  src/logger/trace/trace-id.middleware.ts
  src/main.ts
  src/payments/payments.controller.ts
  src/payments/payments.service.ts
  test/util/setupDataSource.ts
Owners: @Ooyd, @junman95, @kimseungbin, @Developers

fix: env validation schema 이슈 처리
  src/config/database.config.ts
Owners: @Ooyd

chore: winston-cloudwatch 설치간 누락 패키지 설치
  package.json
  yarn.lock
Owners: @Developers

deploy: task definition 파일 추가, env github로 전부 경로 변경
  .github/workflows/pipeline-deploy-alpha.yml
  task_definition.json
Owners: @Developers

.github/CODEOWNERS:

# Common directories
/*  @Developers
/.github/ @Developers
/.husky/ @Developers
/test/ @Developers

# Domain-specific directories
payments/ @kimseungbin
call/ @junman95
billing/ @Ooyd
health-check/ @Ooyd
config/ @Ooyd
auth/ @Ooyd
account/ @kthss01
taxi/ @kthss01
